.view-all-users-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    text-align: left;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-login {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-email {
    font-size: 14px;
    color: #555;
}

.user-actions {
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.iu-button {
    background-color: #333;
    color: white;
}

.iu-button:hover {
    background-color: #555;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}
