.search-container {
    /*max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    text-align: center;
    padding: 40px;
}

.search-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    max-width: 600px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}

.search-input:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

.results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.results-list li {
    margin: 10px 0;
}

.result-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    transition: color 0.2s;
}

.result-link:hover {
    color: #0056b3;
    text-decoration: underline;
}
